Aquesta base de dades recull en quins projectes de l’entitat han estat relacionades les persones, incloent la data d’alta i baixa dels mencionats projectes.

Escollim la columna data d’alta, ja que és la que ens permetrà analitzar el temps que ha trigat la persona a trobar feina.

Hem escollit la data d'alta més recent per calcular posteriorment el temps que triga una persona a trobar feina

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Relacions amb Persones.csv',encoding='utf-8',sep=';')
df_dic=pd.read_csv('Dict.csv',encoding='utf-8',sep=',')

In [3]:
#seleccionem columnes
df=df[['stic_contacts_relationships_contactscontacts_ida','Data alta','Tipus de relació']]
df.head()

,stic_contacts_relationships_contactscontacts_ida,Data alta,Tipus de relació
0,7011976b-a6e9-2a99-518e-5bb49fd88dad,NaN,Persones Sòcies Individuals
1,7b5a0c72-e23a-2d2c-e977-5bb49f4871c6,NaN,Persones Sòcies Individuals
2,80142d92-50e0-ec6a-9700-5bb49fc13f0d,04/11/2015,Persones Sòcies Individuals
3,84be3325-c46b-4095-6934-5bb49fd40811,17/05/2012,Persones Sòcies Familiars (Entorn)
4,896e2b3d-6b79-9f39-98ee-5bb49f55ad4f,17/05/2012,Persones Sòcies Familiars (Entorn)

In [4]:
#renombrar stic_contacts_relationships_contactscontacts_ida a ID
df.rename(columns={'stic_contacts_relationships_contactscontacts_ida':'ID'},inplace=True)

In [5]:
#a partir del diccionari creat anteriorment, cambiem la ID per tal d'evitar duplicats
df['ID'] = df['ID'].map(df_dic.set_index('ID')['IDN'])
df.head()

,ID,Data alta,Tipus de relació
0,7011976b-a6e9-2a99-518e-5bb49fd88dad,NaN,Persones Sòcies Individuals
1,7b5a0c72-e23a-2d2c-e977-5bb49f4871c6,NaN,Persones Sòcies Individuals
2,80142d92-50e0-ec6a-9700-5bb49fc13f0d,04/11/2015,Persones Sòcies Individuals
3,84be3325-c46b-4095-6934-5bb49fd40811,17/05/2012,Persones Sòcies Familiars (Entorn)
4,896e2b3d-6b79-9f39-98ee-5bb49f55ad4f,17/05/2012,Persones Sòcies Familiars (Entorn)

In [6]:
#eliminar nulls a Data alta
df=df.dropna(subset=['Data alta'])

In [7]:
from datetime import datetime


# Convertim la columna "Data alta" a format "any/mes/dia"
df['Data alta'] = df['Data alta'].apply(lambda x: datetime.strptime(x, '%d/%m/%Y').strftime('%Y/%m/%d'))

df.head()

,ID,Data alta,Tipus de relació
2,80142d92-50e0-ec6a-9700-5bb49fc13f0d,2015/11/04,Persones Sòcies Individuals
3,84be3325-c46b-4095-6934-5bb49fd40811,2012/05/17,Persones Sòcies Familiars (Entorn)
4,896e2b3d-6b79-9f39-98ee-5bb49f55ad4f,2012/05/17,Persones Sòcies Familiars (Entorn)
5,8e5be378-556c-cb29-d414-5bb49f67ccd4,2012/05/17,Persones Sòcies Familiars (Nucli)
6,934bb5e9-4e0d-3ad2-2518-5bb49fb95005,2012/05/17,Persona Socia Familiar(Titular)

In [8]:
#df a csv
df.to_csv('Relacions_final.csv',index=False)