Aquesta base de dades recull en quins projectes de l’entitat han estat relacionades les persones, incloent la data d’alta i baixa dels mencionats projectes.

Escollim la columna data d’alta, ja que és la que ens permetrà analitzar el temps que ha trigat la persona a trobar feina.

En aquest cas hem creat vàries columnes, recollint les diferents dates d’alta de les persones per tal d’escollir la que més adequada per a calcular el temps entre l’accés al projecte i el moment en què troba feina.

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Relacions amb Persones.csv',encoding='utf-8',sep=';')
df_dic=pd.read_csv('Dict.csv',encoding='utf-8',sep=',')
df_i=df

In [4]:
#seleccionar columnas
df=df[['stic_contacts_relationships_contactscontacts_ida','Data alta','Tipus de relació']]
df.head()

,stic_contacts_relationships_contactscontacts_ida,Data alta,Tipus de relació
0,7011976b-a6e9-2a99-518e-5bb49fd88dad,NaN,Persones Sòcies Individuals
1,7b5a0c72-e23a-2d2c-e977-5bb49f4871c6,NaN,Persones Sòcies Individuals
2,80142d92-50e0-ec6a-9700-5bb49fc13f0d,04/11/2015,Persones Sòcies Individuals
3,84be3325-c46b-4095-6934-5bb49fd40811,17/05/2012,Persones Sòcies Familiars (Entorn)
4,896e2b3d-6b79-9f39-98ee-5bb49f55ad4f,17/05/2012,Persones Sòcies Familiars (Entorn)

In [5]:
#renombrar stic_contacts_relationships_contactscontacts_ida a ID
df.rename(columns={'stic_contacts_relationships_contactscontacts_ida':'ID'},inplace=True)

/tmp/ipykernel_13713/569231516.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'stic_contacts_relationships_contactscontacts_ida':'ID'},inplace=True)

#seleccionar filas en las que la columna Tipus de relació==Participant SAES
df=df[df_i['Tipus de relació']=='Participant SAES']

In [6]:
df['ID'] = df['ID'].map(df_dic.set_index('ID')['IDN'])
df.head()

/tmp/ipykernel_13713/1252908069.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ID'] = df['ID'].map(df_dic.set_index('ID')['IDN'])

,ID,Data alta,Tipus de relació
0,7011976b-a6e9-2a99-518e-5bb49fd88dad,NaN,Persones Sòcies Individuals
1,7b5a0c72-e23a-2d2c-e977-5bb49f4871c6,NaN,Persones Sòcies Individuals
2,80142d92-50e0-ec6a-9700-5bb49fc13f0d,04/11/2015,Persones Sòcies Individuals
3,84be3325-c46b-4095-6934-5bb49fd40811,17/05/2012,Persones Sòcies Familiars (Entorn)
4,896e2b3d-6b79-9f39-98ee-5bb49f55ad4f,17/05/2012,Persones Sòcies Familiars (Entorn)

In [7]:
df.loc[df['ID'] == 'c53e1f38-5028-c00b-5cc5-6221f894af2c']

                                        ID   Data alta  Tipus de relació
3213  c53e1f38-5028-c00b-5cc5-6221f894af2c  04/03/2022  Participant SAES

In [8]:
#eliminar nulls
df.dropna(inplace=True)

/tmp/ipykernel_13713/1676741590.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [9]:
df.loc[df['ID'] == '462afff8-5b11-1e0f-47ab-5bf6c0c4ff85']

                                        ID   Data alta  Tipus de relació
2086  462afff8-5b11-1e0f-47ab-5bf6c0c4ff85  01/01/2019  Participant SAES
2680  462afff8-5b11-1e0f-47ab-5bf6c0c4ff85  03/01/2020  Participant SAES

#seleccionar filas con valor en Tipus de relació == Participant SAES
df=df[df['Tipus de relació']=='Participant SAES']
df.shape

In [10]:
#ver duplicados en columna ID
df['ID'].duplicated().sum()

1126

#transformar data alta a datetime
#df['Data alta']=pd.to_datetime(df['Data alta'], format='%Y-%m-%d')
df['Data alta'] = pd.to_datetime(df['Data alta'], format='%d/%m/%Y')

EL CODIGO!!!!

In [11]:
df_grouped = df.groupby('ID').agg({'Data alta': list, 'Tipus de relació': 'first'}).reset_index()
df = pd.merge(df[['ID']], df_grouped, on='ID', how='left')
df.head(25)

,ID,Data alta,Tipus de relació
0,80142d92-50e0-ec6a-9700-5bb49fc13f0d,"[04/11/2015, 01/07/2021]",Persones Sòcies Individuals
1,84be3325-c46b-4095-6934-5bb49fd40811,[17/05/2012],Persones Sòcies Familiars (Entorn)
2,896e2b3d-6b79-9f39-98ee-5bb49f55ad4f,[17/05/2012],Persones Sòcies Familiars (Entorn)
3,8e5be378-556c-cb29-d414-5bb49f67ccd4,[17/05/2012],Persones Sòcies Familiars (Nucli)
4,934bb5e9-4e0d-3ad2-2518-5bb49fb95005,[17/05/2012],Persona Socia Familiar(Titular)
5,989a36ed-344f-48cd-7c8b-5bb49f3236d3,[21/01/2008],Persones Sòcies Familiars (Nucli)
6,9d5d2139-82a2-9d4d-c752-5bb49f44bb71,[21/01/2008],Persones Sòcies Familiars (Entorn)
7,a21376c6-985f-c709-003b-5bb49f70a817,[04/04/1992],Persones Sòcies Familiars (Entorn)
8,a6c23802-2f23-07c8-db78-5bb49fe08c20,[22/04/2003],Persones Sòcies Individuals
9,ab8c555b-be92-1028-9cc4-5bb49f4cf438cf88729c-e...,[22/04/2003],Persones Sòcies Individuals
10,b071be88-a0c4-a4f5-1eb1-5bb49f7ea7f3,[22/04/2003],Persones Sòcies Individuals
11,b5d0b0bd-824f-7aab-6873-5bb49fdaaaf1,[22/04/2003],Persones Sòcies Individuals
12,bafee911-ecfc-76ef-5b25-5bb49fff2414,[30/04/2008],Persones Sòcies Individuals
13,c4ea0367-94e5-c39e-75ae-5bb49f349a3a,[17/06/1993],Persones Sòcies Individuals
14,c9eea548-061b-6632-d0ca-5bb49f129ce2,[24/02/2009],Persones Sòcies Individuals
15,cf131690-090b-1701-e80e-5bb49f94f3d4,[16/10/2000],Persones Sòcies Individuals
16,d42a1f84-bce1-c4b5-9e3d-5bb49f4f10de,[20/06/2005],Persones Sòcies Individuals
17,d8acc548-2b8f-5f8e-ba50-5bb49f6c1961,[20/06/2005],Persones Sòcies Individuals
18,75d29c15-7ba6-9c88-a0cf-60217f0135c5,[20/06/2005],Persones Sòcies Individuals
19,e1ba008a-ba8b-f4e6-a835-5bb49fa677fb,[12/04/2006],Persones Sòcies Individuals
20,e65b798f-d23e-ff5c-d279-5bb49f80c9d1,[04/04/2000],Persones Sòcies Individuals
21,eb85d387-a3c8-67a6-8e24-5bb49f983b6d,[01/02/2005],Persones Sòcies Individuals
22,f08807ec-8fe5-d7d5-9834-5bb49fcca4ba,[22/01/2018],Persones Sòcies Individuals
23,17ab0ddf-fc90-7cb6-343a-5bb49ffd6ee6,"[20/11/2015, 01/06/2019, 01/01/2020, 01/07/202...",Persones Sòcies Familiars (Nucli)
24,6ab103a8-1cf2-c386-7d93-5bb49fb8df92,[04/11/2003],Persones Sòcies Individuals

In [12]:
df.drop_duplicates(subset=['ID'], inplace=True)
df.head(25)

,ID,Data alta,Tipus de relació
0,80142d92-50e0-ec6a-9700-5bb49fc13f0d,"[04/11/2015, 01/07/2021]",Persones Sòcies Individuals
1,84be3325-c46b-4095-6934-5bb49fd40811,[17/05/2012],Persones Sòcies Familiars (Entorn)
2,896e2b3d-6b79-9f39-98ee-5bb49f55ad4f,[17/05/2012],Persones Sòcies Familiars (Entorn)
3,8e5be378-556c-cb29-d414-5bb49f67ccd4,[17/05/2012],Persones Sòcies Familiars (Nucli)
4,934bb5e9-4e0d-3ad2-2518-5bb49fb95005,[17/05/2012],Persona Socia Familiar(Titular)
5,989a36ed-344f-48cd-7c8b-5bb49f3236d3,[21/01/2008],Persones Sòcies Familiars (Nucli)
6,9d5d2139-82a2-9d4d-c752-5bb49f44bb71,[21/01/2008],Persones Sòcies Familiars (Entorn)
7,a21376c6-985f-c709-003b-5bb49f70a817,[04/04/1992],Persones Sòcies Familiars (Entorn)
8,a6c23802-2f23-07c8-db78-5bb49fe08c20,[22/04/2003],Persones Sòcies Individuals
9,ab8c555b-be92-1028-9cc4-5bb49f4cf438cf88729c-e...,[22/04/2003],Persones Sòcies Individuals
10,b071be88-a0c4-a4f5-1eb1-5bb49f7ea7f3,[22/04/2003],Persones Sòcies Individuals
11,b5d0b0bd-824f-7aab-6873-5bb49fdaaaf1,[22/04/2003],Persones Sòcies Individuals
12,bafee911-ecfc-76ef-5b25-5bb49fff2414,[30/04/2008],Persones Sòcies Individuals
13,c4ea0367-94e5-c39e-75ae-5bb49f349a3a,[17/06/1993],Persones Sòcies Individuals
14,c9eea548-061b-6632-d0ca-5bb49f129ce2,[24/02/2009],Persones Sòcies Individuals
15,cf131690-090b-1701-e80e-5bb49f94f3d4,[16/10/2000],Persones Sòcies Individuals
16,d42a1f84-bce1-c4b5-9e3d-5bb49f4f10de,[20/06/2005],Persones Sòcies Individuals
17,d8acc548-2b8f-5f8e-ba50-5bb49f6c1961,[20/06/2005],Persones Sòcies Individuals
18,75d29c15-7ba6-9c88-a0cf-60217f0135c5,[20/06/2005],Persones Sòcies Individuals
19,e1ba008a-ba8b-f4e6-a835-5bb49fa677fb,[12/04/2006],Persones Sòcies Individuals
20,e65b798f-d23e-ff5c-d279-5bb49f80c9d1,[04/04/2000],Persones Sòcies Individuals
21,eb85d387-a3c8-67a6-8e24-5bb49f983b6d,[01/02/2005],Persones Sòcies Individuals
22,f08807ec-8fe5-d7d5-9834-5bb49fcca4ba,[22/01/2018],Persones Sòcies Individuals
23,17ab0ddf-fc90-7cb6-343a-5bb49ffd6ee6,"[20/11/2015, 01/06/2019, 01/01/2020, 01/07/202...",Persones Sòcies Familiars (Nucli)
24,6ab103a8-1cf2-c386-7d93-5bb49fb8df92,[04/11/2003],Persones Sòcies Individuals

In [13]:
df[['Fecha1', 'Data alta2','Data alta3','Data alta4','Data alta5','Data alta6','Data alta7','Data alta8']] = df['Data alta'].astype(str).str.split(', ', expand=True)
df.head()

,ID,Data alta,Tipus de relació,Fecha1,Data alta2,Data alta3,Data alta4,Data alta5,Data alta6,Data alta7,Data alta8
0,80142d92-50e0-ec6a-9700-5bb49fc13f0d,"[04/11/2015, 01/07/2021]",Persones Sòcies Individuals,['04/11/2015','01/07/2021'],None,None,None,None,None,None
1,84be3325-c46b-4095-6934-5bb49fd40811,[17/05/2012],Persones Sòcies Familiars (Entorn),['17/05/2012'],None,None,None,None,None,None,None
2,896e2b3d-6b79-9f39-98ee-5bb49f55ad4f,[17/05/2012],Persones Sòcies Familiars (Entorn),['17/05/2012'],None,None,None,None,None,None,None
3,8e5be378-556c-cb29-d414-5bb49f67ccd4,[17/05/2012],Persones Sòcies Familiars (Nucli),['17/05/2012'],None,None,None,None,None,None,None
4,934bb5e9-4e0d-3ad2-2518-5bb49fb95005,[17/05/2012],Persona Socia Familiar(Titular),['17/05/2012'],None,None,None,None,None,None,None

df[['Fecha1','Data alta2','Data alta3']] = df['Data alta'].astype(str).str.split(', ', expand=True)
df

In [14]:
df['Data alta'] = df['Data alta'].apply(lambda x: pd.to_datetime(x[0], format='%d/%m/%Y'))
df.head(80)

,ID,Data alta,Tipus de relació,Fecha1,Data alta2,Data alta3,Data alta4,Data alta5,Data alta6,Data alta7,Data alta8
0,80142d92-50e0-ec6a-9700-5bb49fc13f0d,2015-11-04,Persones Sòcies Individuals,['04/11/2015','01/07/2021'],None,None,None,None,None,None
1,84be3325-c46b-4095-6934-5bb49fd40811,2012-05-17,Persones Sòcies Familiars (Entorn),['17/05/2012'],None,None,None,None,None,None,None
2,896e2b3d-6b79-9f39-98ee-5bb49f55ad4f,2012-05-17,Persones Sòcies Familiars (Entorn),['17/05/2012'],None,None,None,None,None,None,None
3,8e5be378-556c-cb29-d414-5bb49f67ccd4,2012-05-17,Persones Sòcies Familiars (Nucli),['17/05/2012'],None,None,None,None,None,None,None
4,934bb5e9-4e0d-3ad2-2518-5bb49fb95005,2012-05-17,Persona Socia Familiar(Titular),['17/05/2012'],None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
76,473429b9-abb7-41c8-5ebf-5bb49f07946a,2005-06-17,Persones Sòcies Individuals,['17/06/2005','17/06/2005','01/07/2021'],None,None,None,None,None
78,5132e934-aa6f-414d-0c27-5bb49f86560c,1997-01-08,Persones Sòcies Individuals,['08/01/1997'],None,None,None,None,None,None,None
79,55e2f446-16c0-0815-d887-5bb49f6f1657,2013-12-20,Persones Sòcies Familiars (Entorn),['20/12/2013'],None,None,None,None,None,None,None
80,879a23c0-3629-ad1a-ded6-5e0dc51bbd0e,2013-12-20,Persones Sòcies Familiars (Entorn),['20/12/2013','01/01/2020','01/01/2020','01/07/2022','01/07/2022'],None,None,None
81,5f672b66-5391-bc50-d51c-5bb49f5e5e31,2014-01-31,Persones Sòcies Individuals,['31/01/2014'],None,None,None,None,None,None,None

In [15]:
df['Fecha1'] = df['Fecha1'].str.replace("'", "")
df['Fecha1'] = df['Fecha1'].apply(lambda x: pd.to_datetime(x.strip('[]'), format='%d/%m/%Y'))
df.head(80)

,ID,Data alta,Tipus de relació,Fecha1,Data alta2,Data alta3,Data alta4,Data alta5,Data alta6,Data alta7,Data alta8
0,80142d92-50e0-ec6a-9700-5bb49fc13f0d,2015-11-04,Persones Sòcies Individuals,2015-11-04,'01/07/2021'],None,None,None,None,None,None
1,84be3325-c46b-4095-6934-5bb49fd40811,2012-05-17,Persones Sòcies Familiars (Entorn),2012-05-17,None,None,None,None,None,None,None
2,896e2b3d-6b79-9f39-98ee-5bb49f55ad4f,2012-05-17,Persones Sòcies Familiars (Entorn),2012-05-17,None,None,None,None,None,None,None
3,8e5be378-556c-cb29-d414-5bb49f67ccd4,2012-05-17,Persones Sòcies Familiars (Nucli),2012-05-17,None,None,None,None,None,None,None
4,934bb5e9-4e0d-3ad2-2518-5bb49fb95005,2012-05-17,Persona Socia Familiar(Titular),2012-05-17,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
76,473429b9-abb7-41c8-5ebf-5bb49f07946a,2005-06-17,Persones Sòcies Individuals,2005-06-17,'17/06/2005','01/07/2021'],None,None,None,None,None
78,5132e934-aa6f-414d-0c27-5bb49f86560c,1997-01-08,Persones Sòcies Individuals,1997-01-08,None,None,None,None,None,None,None
79,55e2f446-16c0-0815-d887-5bb49f6f1657,2013-12-20,Persones Sòcies Familiars (Entorn),2013-12-20,None,None,None,None,None,None,None
80,879a23c0-3629-ad1a-ded6-5e0dc51bbd0e,2013-12-20,Persones Sòcies Familiars (Entorn),2013-12-20,'01/01/2020','01/01/2020','01/07/2022','01/07/2022'],None,None,None
81,5f672b66-5391-bc50-d51c-5bb49f5e5e31,2014-01-31,Persones Sòcies Individuals,2014-01-31,None,None,None,None,None,None,None

In [16]:
import datetime

#df['Data alta2'] = df['Data alta2'].fillna(datetime.datetime.now().strftime('%d/%m/%Y'))
df['Data alta2'] = df['Data alta2'].fillna(datetime.datetime.now().strftime('%d/%m/%Y'))

#df['Data alta2'] = df['Data alta2'].fillna('').str.replace("'", "")

df['Data alta2'] = df['Data alta2'].str.replace("'", "")
df['Data alta2'] = df['Data alta2'].apply(lambda x: pd.to_datetime(x.strip('[]'), format='%d/%m/%Y'))
df

,ID,Data alta,Tipus de relació,Fecha1,Data alta2,Data alta3,Data alta4,Data alta5,Data alta6,Data alta7,Data alta8
0,80142d92-50e0-ec6a-9700-5bb49fc13f0d,2015-11-04,Persones Sòcies Individuals,2015-11-04,2021-07-01,None,None,None,None,None,None
1,84be3325-c46b-4095-6934-5bb49fd40811,2012-05-17,Persones Sòcies Familiars (Entorn),2012-05-17,2023-03-03,None,None,None,None,None,None
2,896e2b3d-6b79-9f39-98ee-5bb49f55ad4f,2012-05-17,Persones Sòcies Familiars (Entorn),2012-05-17,2023-03-03,None,None,None,None,None,None
3,8e5be378-556c-cb29-d414-5bb49f67ccd4,2012-05-17,Persones Sòcies Familiars (Nucli),2012-05-17,2023-03-03,None,None,None,None,None,None
4,934bb5e9-4e0d-3ad2-2518-5bb49fb95005,2012-05-17,Persona Socia Familiar(Titular),2012-05-17,2023-03-03,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
3807,355724fd-9657-3c4d-8037-639b180a0bc6,2022-12-15,Persones Sòcies Familiars (Entorn),2022-12-15,2023-03-03,None,None,None,None,None,None
3808,314be071-7bf7-a074-394b-63a1826de4c3,2022-12-20,Professionals Externs Logopedes,2022-12-20,2023-03-03,None,None,None,None,None,None
3810,3cc55fe4-23c6-1b13-82fc-63a442c42b62,2022-12-22,Participant SASP,2022-12-22,2023-03-03,None,None,None,None,None,None
3811,3a62d12c-1dfd-74f3-f3fd-5e9578d34e8c,2023-01-09,Participant SAES,2023-01-09,2023-03-03,None,None,None,None,None,None
3828,90c4f486-6bf3-a535-d822-624ac6a3ac04,2023-02-16,Participant SASP,2023-02-16,2023-03-03,None,None,None,None,None,None

In [17]:
import datetime

#df['Data alta3'] = df['Data alta3'].fillna(datetime.datetime.now().strftime('%d/%m/%Y'))
df['Data alta3'] = df['Data alta3'].fillna(datetime.datetime.now().strftime('%d/%m/%Y'))

#df['Data alta3'] = df['Data alta3'].fillna('').str.replace("'", "")

df['Data alta3'] = df['Data alta3'].str.replace("'", "")
df['Data alta3'] = df['Data alta3'].apply(lambda x: pd.to_datetime(x.strip('[]'), format='%d/%m/%Y'))
df

,ID,Data alta,Tipus de relació,Fecha1,Data alta2,Data alta3,Data alta4,Data alta5,Data alta6,Data alta7,Data alta8
0,80142d92-50e0-ec6a-9700-5bb49fc13f0d,2015-11-04,Persones Sòcies Individuals,2015-11-04,2021-07-01,2023-03-03,None,None,None,None,None
1,84be3325-c46b-4095-6934-5bb49fd40811,2012-05-17,Persones Sòcies Familiars (Entorn),2012-05-17,2023-03-03,2023-03-03,None,None,None,None,None
2,896e2b3d-6b79-9f39-98ee-5bb49f55ad4f,2012-05-17,Persones Sòcies Familiars (Entorn),2012-05-17,2023-03-03,2023-03-03,None,None,None,None,None
3,8e5be378-556c-cb29-d414-5bb49f67ccd4,2012-05-17,Persones Sòcies Familiars (Nucli),2012-05-17,2023-03-03,2023-03-03,None,None,None,None,None
4,934bb5e9-4e0d-3ad2-2518-5bb49fb95005,2012-05-17,Persona Socia Familiar(Titular),2012-05-17,2023-03-03,2023-03-03,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
3807,355724fd-9657-3c4d-8037-639b180a0bc6,2022-12-15,Persones Sòcies Familiars (Entorn),2022-12-15,2023-03-03,2023-03-03,None,None,None,None,None
3808,314be071-7bf7-a074-394b-63a1826de4c3,2022-12-20,Professionals Externs Logopedes,2022-12-20,2023-03-03,2023-03-03,None,None,None,None,None
3810,3cc55fe4-23c6-1b13-82fc-63a442c42b62,2022-12-22,Participant SASP,2022-12-22,2023-03-03,2023-03-03,None,None,None,None,None
3811,3a62d12c-1dfd-74f3-f3fd-5e9578d34e8c,2023-01-09,Participant SAES,2023-01-09,2023-03-03,2023-03-03,None,None,None,None,None
3828,90c4f486-6bf3-a535-d822-624ac6a3ac04,2023-02-16,Participant SASP,2023-02-16,2023-03-03,2023-03-03,None,None,None,None,None

In [18]:
df.shape

(2706, 11)

In [19]:
df=df[['ID', 'Data alta','Data alta2','Data alta3','Tipus de relació']]
df.head(80)

,ID,Data alta,Data alta2,Data alta3,Tipus de relació
0,80142d92-50e0-ec6a-9700-5bb49fc13f0d,2015-11-04,2021-07-01,2023-03-03,Persones Sòcies Individuals
1,84be3325-c46b-4095-6934-5bb49fd40811,2012-05-17,2023-03-03,2023-03-03,Persones Sòcies Familiars (Entorn)
2,896e2b3d-6b79-9f39-98ee-5bb49f55ad4f,2012-05-17,2023-03-03,2023-03-03,Persones Sòcies Familiars (Entorn)
3,8e5be378-556c-cb29-d414-5bb49f67ccd4,2012-05-17,2023-03-03,2023-03-03,Persones Sòcies Familiars (Nucli)
4,934bb5e9-4e0d-3ad2-2518-5bb49fb95005,2012-05-17,2023-03-03,2023-03-03,Persona Socia Familiar(Titular)
...,...,...,...,...,...
76,473429b9-abb7-41c8-5ebf-5bb49f07946a,2005-06-17,2005-06-17,2021-07-01,Persones Sòcies Individuals
78,5132e934-aa6f-414d-0c27-5bb49f86560c,1997-01-08,2023-03-03,2023-03-03,Persones Sòcies Individuals
79,55e2f446-16c0-0815-d887-5bb49f6f1657,2013-12-20,2023-03-03,2023-03-03,Persones Sòcies Familiars (Entorn)
80,879a23c0-3629-ad1a-ded6-5e0dc51bbd0e,2013-12-20,2020-01-01,2020-01-01,Persones Sòcies Familiars (Entorn)
81,5f672b66-5391-bc50-d51c-5bb49f5e5e31,2014-01-31,2023-03-03,2023-03-03,Persones Sòcies Individuals

In [20]:
#ver duplicados en columna ID
df['ID'].duplicated().sum()

0

In [21]:
#df a csv
df.to_csv('Relacions_final.csv',index=False)